.main-page
  .main-page__header
    .main-page__header__sub
      .main-page__header__sub__logo
        = current_user.name
      .main-page__header__sub__logo_menber
        
    .main-page__header__edit-btn
      = link_to "Edit", edit_group_path(@group)
      
  .main-page__messasge-page
    = render @messages
    
  .main-page__message-form
    = form_for [@group, @message] do |f|
      .main-page__message-form__form-master
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'